div.div-height-5 {
	height: 5px;
}

table.largeTable > * > tr > th,td  {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

/* ---cashRegister.jsp */

div.summaryDiv {
	position: relative;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	/* background-color: #CCC; */
}

/* cashRegister.jsp--- */