<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cash.register.dao.AuthorizationCodeMapper">
  <resultMap id="BaseResultMap" type="cn.cash.register.dao.domain.AuthorizationCode">
    <id column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from authorization_code
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cash.register.dao.domain.AuthorizationCode">
    insert into authorization_code (code)
    values (#{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cash.register.dao.domain.AuthorizationCode">
    insert into authorization_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authorization_code
    where code = #{code,jdbcType=VARCHAR}
  </select>
</mapper>