<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cash.register.dao.GoodsLoseInfoMapper">
  <resultMap id="BaseResultMap" type="cn.cash.register.dao.domain.GoodsLoseInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="goods_detail" jdbcType="VARCHAR" property="goodsDetail" />
    <result column="total_lose_amount" jdbcType="INTEGER" property="totalLoseAmount" />
    <result column="turnover_percent" jdbcType="DOUBLE" property="turnoverPercent" />
    <result column="operator_no" jdbcType="VARCHAR" property="operatorNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_name, goods_detail, total_lose_amount, turnover_percent, operator_no, remark, 
    gmt_update, gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_lose_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_lose_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.cash.register.dao.domain.GoodsLoseInfo">
    insert into goods_lose_info (id, shop_name, goods_detail, 
      total_lose_amount, turnover_percent, operator_no, 
      remark, gmt_update, gmt_create
      )
    values (#{id,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=VARCHAR}, 
      #{totalLoseAmount,jdbcType=INTEGER}, #{turnoverPercent,jdbcType=DOUBLE}, #{operatorNo,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{gmtUpdate,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cash.register.dao.domain.GoodsLoseInfo" useGeneratedKeys="true" keyProperty="id">
    insert into goods_lose_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="totalLoseAmount != null">
        total_lose_amount,
      </if>
      <if test="turnoverPercent != null">
        turnover_percent,
      </if>
      <if test="operatorNo != null">
        operator_no,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="totalLoseAmount != null">
        #{totalLoseAmount,jdbcType=INTEGER},
      </if>
      <if test="turnoverPercent != null">
        #{turnoverPercent,jdbcType=DOUBLE},
      </if>
      <if test="operatorNo != null">
        #{operatorNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cash.register.dao.domain.GoodsLoseInfo">
    update goods_lose_info
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="totalLoseAmount != null">
        total_lose_amount = #{totalLoseAmount,jdbcType=INTEGER},
      </if>
      <if test="turnoverPercent != null">
        turnover_percent = #{turnoverPercent,jdbcType=DOUBLE},
      </if>
      <if test="operatorNo != null">
        operator_no = #{operatorNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cash.register.dao.domain.GoodsLoseInfo">
    update goods_lose_info
    set shop_name = #{shopName,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      total_lose_amount = #{totalLoseAmount,jdbcType=INTEGER},
      turnover_percent = #{turnoverPercent,jdbcType=DOUBLE},
      operator_no = #{operatorNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="queryAll" resultMap="BaseResultMap" parameterType="cn.cash.register.common.request.GoodsLoseInfoQueryRequest">
    select 
    <include refid="Base_Column_List" />
    from goods_lose_info
    where 1 = 1
    <if test="gmtCreateUp != null">
  		and
  		gmt_create &lt;= to_date(#{gmtCreateUp},'yyyy-MM-dd HH:mm:ss')
  		and
  		gmt_create &gt;= to_date(#{gmtCreateDown},'yyyy-MM-dd HH:mm:ss')
    </if>
  </select>
</mapper>