<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cash.register.dao.ShopperInfoMapper">
  <resultMap id="BaseResultMap" type="cn.cash.register.dao.domain.ShopperInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shopper_no" jdbcType="VARCHAR" property="shopperNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sales_percentage" jdbcType="DOUBLE" property="salesPercentage" />
    <result column="recharge_percentage" jdbcType="DOUBLE" property="rechargePercentage" />
    <result column="shopping_card_percentage" jdbcType="DOUBLE" property="shoppingCardPercentage" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="royalty_type" jdbcType="VARCHAR" property="royaltyType" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shopper_no, name, phone, sales_percentage, recharge_percentage, shopping_card_percentage, 
    status, royalty_type, gmt_update, gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shopper_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shopper_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.cash.register.dao.domain.ShopperInfo">
    insert into shopper_info (id, shopper_no, name, 
      phone, sales_percentage, recharge_percentage, 
      shopping_card_percentage, status, royalty_type, 
      gmt_update, gmt_create)
    values (#{id,jdbcType=BIGINT}, #{shopperNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{salesPercentage,jdbcType=DOUBLE}, #{rechargePercentage,jdbcType=DOUBLE}, 
      #{shoppingCardPercentage,jdbcType=DOUBLE}, #{status,jdbcType=BIT}, #{royaltyType,jdbcType=VARCHAR}, 
      #{gmtUpdate,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cash.register.dao.domain.ShopperInfo" useGeneratedKeys="true" keyProperty="id">
    insert into shopper_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopperNo != null">
        shopper_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="salesPercentage != null">
        sales_percentage,
      </if>
      <if test="rechargePercentage != null">
        recharge_percentage,
      </if>
      <if test="shoppingCardPercentage != null">
        shopping_card_percentage,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="royaltyType != null">
        royalty_type,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopperNo != null">
        #{shopperNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="salesPercentage != null">
        #{salesPercentage,jdbcType=DOUBLE},
      </if>
      <if test="rechargePercentage != null">
        #{rechargePercentage,jdbcType=DOUBLE},
      </if>
      <if test="shoppingCardPercentage != null">
        #{shoppingCardPercentage,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="royaltyType != null">
        #{royaltyType,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cash.register.dao.domain.ShopperInfo">
    update shopper_info
    <set>
      <if test="shopperNo != null">
        shopper_no = #{shopperNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="salesPercentage != null">
        sales_percentage = #{salesPercentage,jdbcType=DOUBLE},
      </if>
      <if test="rechargePercentage != null">
        recharge_percentage = #{rechargePercentage,jdbcType=DOUBLE},
      </if>
      <if test="shoppingCardPercentage != null">
        shopping_card_percentage = #{shoppingCardPercentage,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="royaltyType != null">
        royalty_type = #{royaltyType,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cash.register.dao.domain.ShopperInfo">
    update shopper_info
    set shopper_no = #{shopperNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sales_percentage = #{salesPercentage,jdbcType=DOUBLE},
      recharge_percentage = #{rechargePercentage,jdbcType=DOUBLE},
      shopping_card_percentage = #{shoppingCardPercentage,jdbcType=DOUBLE},
      status = #{status,jdbcType=BIT},
      royalty_type = #{royaltyType,jdbcType=VARCHAR},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="list" resultMap="BaseResultMap" parameterType="cn.cash.register.common.request.ShopperInfoQueryRequest">
  		select 
    	<include refid="Base_Column_List" />
    	from shopper_info where 1=1
    	<if test="status != null">
    		and status = #{status,jdbcType=BIT}
    	</if>
    	<if test="shopperNo != null and shopperNo !=''">
    		and shopper_no = #{shopperNo,jdbcType=VARCHAR}
    	</if>
    	<if test="name != null and name !=''">
    		and name = #{name,jdbcType=VARCHAR}
    	</if>
  </select>
  
</mapper>