<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cash.register.dao.SystemParameterMapper">
  <resultMap id="BaseResultMap" type="cn.cash.register.dao.domain.SystemParameter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="param_code" jdbcType="VARCHAR" property="paramCode" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, param_code, param_value, description, gmt_update, gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_parameter
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from system_parameter
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.cash.register.dao.domain.SystemParameter">
    insert into system_parameter (id, param_code, param_value, 
      description, gmt_update, gmt_create
      )
    values (#{id,jdbcType=BIGINT}, #{paramCode,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{gmtUpdate,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cash.register.dao.domain.SystemParameter" useGeneratedKeys="true" keyProperty="id">
    insert into system_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramCode != null">
        param_code,
      </if>
      <if test="paramValue != null">
        param_value,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramCode != null">
        #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cash.register.dao.domain.SystemParameter">
    update system_parameter
    <set>
      <if test="paramCode != null">
        param_code = #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cash.register.dao.domain.SystemParameter">
    update system_parameter
    set param_code = #{paramCode,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_parameter
    where param_code = #{paramCode,jdbcType=VARCHAR}
  </select>
  
  <select id="truncateAllTables">
  	TRUNCATE TABLE exchange_job_detail ;
	TRUNCATE TABLE goods_brand;
	DELETE FROM goods_category WHERE id!=1;
	TRUNCATE TABLE goods_color;
	TRUNCATE TABLE goods_image;
	TRUNCATE TABLE goods_info;
	TRUNCATE TABLE goods_lose_info;
	TRUNCATE TABLE goods_lose_reason;
	TRUNCATE TABLE goods_quantity_unit;
	TRUNCATE TABLE goods_size;
	TRUNCATE TABLE goods_stock_check;
	TRUNCATE TABLE goods_stock_check_detail;
	TRUNCATE TABLE goods_stock_flow;
	TRUNCATE TABLE goods_tag;
	TRUNCATE TABLE goods_traffic;
	TRUNCATE TABLE member_info;
	TRUNCATE TABLE member_integral;
	TRUNCATE TABLE member_rank;
	TRUNCATE TABLE member_recharge_detail;
	TRUNCATE TABLE operation_log;
	TRUNCATE TABLE promotion_detail;
	TRUNCATE TABLE promotion_goods_detail;
	TRUNCATE TABLE seller_info;
	TRUNCATE TABLE seller_permission_info;
	TRUNCATE TABLE shopper_info;
	TRUNCATE TABLE supplier_info;
	TRUNCATE TABLE trade_detail;
	TRUNCATE TABLE trade_goods_detail;
	UPDATE system_parameter SET param_value=NULL WHERE param_code='SHOP_NAME';
	UPDATE system_parameter SET param_value= 'false' WHERE param_code='PETTY_AMOUNT';
	UPDATE system_parameter SET param_value=NULL WHERE param_code='REGISTER_TIME';
	UPDATE system_parameter SET param_value=NULL WHERE param_code='INVALID_TIME';
	UPDATE system_parameter SET param_value=NULL WHERE param_code='RELATED_EMAIL';
	UPDATE system_parameter SET param_value=NULL WHERE param_code='PHONE';
	UPDATE system_parameter SET param_value=NULL WHERE param_code='ADDRESS';
	UPDATE system_parameter SET param_value= 'false' WHERE param_code='IS_AUTHORIZED';
	UPDATE system_parameter SET param_value= 'false' WHERE param_code='IS_INIT';
  </select>
  
</mapper>